
.myStyle {
    /* background-color: rgb(81, 88, 71); */
    /* height:'200px' !important; */
    /* margin-top:'-200px';
    font-size:'456px';
    background-size: 'cover';
    background-repeat: 'no-repeat'; */
    text-align: center;

    

};

.font-link {
  background-color : red;
  font-family: 'Hanalei Fill', cursive;
}

.h1Css{
  background-color: #04AA6D;
  color: antiquewhite;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border: 2px solid #ddd;
  border-collapse: collapse;
  width: 10%;
}

.h2Css{
  background-color: #afc9d0;
  color: black;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border: 2px solid #ddd;
  border-collapse: collapse;
  width: 10%;
}
